@keyframes bounceFromSide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-title {
  animation: slideIn 1s ease-out;
}

.animate-text {
  animation: fadeIn 3s ease-in-out;
}

.animate-bounce-side {
  animation: bounceFromSide 2s infinite;
}

.animate-fade-in {
  animation: fadeIn 3s ease-in-out;
}
